################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/part1/out/build/x64-Debug
/.vs
/part1/CMakeSettings.json
